html {
  scroll-snap-type: y mandatory
}

.child {
  scroll-snap-align: start;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}

canvas {
  outline: none;
  z-index: 0;
}

.container-section {
  position: relative;
  /* top: 40vh; */
  height: 100vh;
  /* left: 10vw;
  width: 80vw; */
}

.container-section-project {
  position: relative;
  top: 10vh;
  height: 100vh;
}

.conatiner-cv {
  padding-top: 15vh;
}

.nameTitle {
  font-size: clamp(50pt, 10vw, 100pt);
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 0.8;
  color: black;
}

.name_div{
  overflow: hidden;
  transform: translateY(-90px);
}

.first span{ 
  display: inline-block;
  position: relative;
  font-size: clamp(35pt, 8vw, 80pt);
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 0.8;
  color: black;
  transform: translateY(-50px)
}

.last span{ 
  display: inline-block;
  position: relative;
  font-size: clamp(35pt, 8vw, 80pt);
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 0.8;
  color: black;
  transform: translateY(-50px)
}

.model {
  position: relative;
  /* margin-top: 5vh; */
  padding-top: 20vh;
  /* background-color: yellow; */
}

.subheadTitle {
  font-size: clamp(7.5pt, 1.4vw, 40pt);
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;

}

.subheadDate {
  font-size: clamp(10pt, 2vw, 25pt);
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
}

.bodyDescrip {
  font-size: clamp(6pt, 2vw, 8pt);  
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: black;
}

.modular-cont {
  border-top: 1px solid black;
}

.avatar-img {
  border-radius: 100px; 
  width: 100%; 
  height: auto;
  margin-top: 30vh;
}

/* Project Section */

.proj_row {
  position: relative;
  background-color: #BAFF00; 
  border-radius: 50px; 

  cursor: pointer;
  z-index: 2;
  /* width: 100%; */
}

.proj_col {
  position: relative;
}

.proj_header {
  top: 10%;
  text-align: right;
  position: absolute;
  right: 10%;
  line-height: 1;
  font-size: 13pt;
  font-size: clamp(9pt, 3vw, 18pt);
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-decoration: none;
}

.proj-overview-text {
  font-size: clamp(8pt, 3vw, 10pt);
  font-family: Helvetica, sans-serif;
  color: black;
  font-weight: 100;
}

.proj_mainImage {
  height: 100%;
  /* width: 110%; */
  border-radius: 45px; 
  background-size: cover; 
  background-position: center;
  margin-right: -7.5px;
}

.roj_row_img_anim {
  background-size: cover; 
  background-position: center;
  height: 100%;
  border-radius: 50px;
  cursor: pointer;
}

.proj_row_img {
  position: relative;
  height: 100%;
}

.proj_arrow {
  position: absolute;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
}

.proj_img_thumb {
  height: 3.5vh;
  width: auto;
  position: absolute;
  bottom: 15%;
  left: 25%;
}

.proj_description {
  padding: 15px;
  font-size: clamp(3pt, 3vw, 8pt);
  line-height: 1.2;
  height: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

.proj_view_text{
  line-height: 0.85;
  font-size: clamp(20pt, 6vw, 40pt);
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 700;

}

/* CV Section */

.cv_title {
  font-size: 8pt;  

  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: black;
}

.cv-contact {
  padding-top: 2%;
  font-size: 20pt;  
  font-size: clamp(12pt, 5vw, 20pt);
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.cv-ya {
  padding-top: 2%;
  font-size: 40pt;  
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.work-exp-col {
  width: 33%;
  padding: 10px 10px 10px 0px;
  display: inline-block
}

.work-exp-head {
  padding-top: 3%;
  font-size: 15pt;  
  font-size: clamp(10pt, 3vw, 15pt);
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.work-exp-sub {
  font-size: 12pt;  
  font-size: clamp(9pt, 3vw, 12pt);
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.work-exp-body {
  font-size: clamp(7pt, 2vw, 9pt);
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: black;
}

.dropDownArrow {
  position: fixed;
  cursor: pointer;
	right: 22%;
	float: right;
  background-color: black;
}

/* Single Project Section */

.sing_proj_persona {
  border-radius: 20px;
  border: solid 3px black;
  margin: 10px;
  /* width: 80%;
  left: 10%;
  position: relative; */
}

.sing_proj_img {
  border-radius: 20px;
  border: solid 3px black;
  /* height: 55vh; */
  position: relative;
  cursor: pointer;
  /* left: 10%; */
}

.sing_proj_img:hover {
  mix-blend-mode: multiply;
  filter: opacity(50%);
  border: solid 3px #FF00A7;
}

.sing_proj_headerimg {
  border-radius: 40px;
  background-size: cover;
  float: right;
  background-position: center;
  transition: width ease-in-out 0.5s, height ease-in-out 0.5s;
}

.tldr-project-title {
  transition: width ease-in-out 0.5s;
  text-align: right;
  font-weight: 700;
  font-size: clamp(16pt, 5vw, 30pt);
  padding-right: 20px;
  line-height: 0.9;
  width: 80%;
  float: right;
}

.tldr-image {
  height: 400%;
  width: 100%;
  display: inline-block;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.sing-proj-modular-tldr {
  font-size: 8pt;
  float: left;
  padding-right: 20px;
  list-style: none;
}

.sing_proj_headerTitle {
  font-size: clamp(20pt, 4vw, 40pt);  
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  padding: 20px;
  width: 40%;
}

.sing-proj-head {
  padding-top: 10%;
  font-size: 15pt;  
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  top: 10vh;
}

.sing-proj-modular-cont {
  border-top: 1px solid black;
  top: 10vh;
  font-size: clamp(8pt, 3.5vw, 12pt);
}

.sing-proj-thumb {
    height: 6vh;
    width: auto;
    position: relative;
    bottom: 0;
    left: 30px;
    filter: invert(100%) sepia(2%) saturate(6%) hue-rotate(327deg) brightness(104%) contrast(101%)
}

.modal-image {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 1200px;
  height: 80vh;
}

.modal-image-mobile {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 400px;
  height: 80vh;
}

.modalImage-size {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  /* margin-left: 5vw; */
}

.tldr-div {
  width: 100px;
  float: right;
  height: 250px; 
  border-radius: 40px 0px 0px 40px; 
  cursor: pointer;
  transition: transform 0.5s;
  position: fixed; 
  right: 0; 
  z-index: 9999;
}

.tldr-div-mobile {
  height: 80px;
  width: 80px;
  border-radius: 40px 40px 40px 40px; 
  cursor: pointer;
  position: fixed;
  right: 10px; 
  bottom: 100px;

}

.tldr-font {
  font-weight: 800;
  height: 80px;
  text-align: center;
  margin-top: 80px;
  font-size: 30pt;
}

.tldr-font-mobile {
  font-weight: 800;
  height: 80px;
  text-align: center;
  margin-top: 30px;
  font-size: 12pt;
}

.sing-prod-index {
  font-size: clamp(5pt, 1vw, 8pt);
  cursor: pointer; 
}

.backgroundDiv {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: -1;
  cursor: pointer
}

.modal-div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000000;
  right: 0px;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.close-modal {
  height: 50px; 
  margin-top: 35px; 
  margin-left: 50px;
  cursor: pointer; 
  position: fixed;
  transition: transform 0.2s;
}

.modal-arrow-left {
 height: 70px;
 position: fixed;
 top: 43vh;
 left: 30px;
 cursor: pointer;
 transition: transform 0.2s;
}

.modal-arrow-left:hover {
  transform: scale(1.1);
}

.modal-arrow-right:hover {
  transform: scale(1.1) rotate(180deg);
}

.modal-arrow-right {
  height: 70px;
  position: fixed;
  top: 43vh;
  right: 30px;
  transform: rotate(180deg);
  transition: transform 0.2s;
  cursor: pointer;
}

.close-modal:hover {
  transform: scale(1.1);
}

.modal-page-text {
  font-size: 15pt;
  font-weight: 800;
  position: fixed;
  color: white;
  text-align: center;
  width: 100vw;
}

