body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}

canvas {
  /* height: 100vh;
  width: 100vw; */
  outline: none;
  z-index: 0;
}

.container-section {
  position: relative;
  top: 40vh;
  height: 100vh;
}

.conatiner-cv {
  padding-top: 15vh;
}

.nameTitle {
  font-size: clamp(50pt, 10vw, 100pt);
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 0.8;
  color: black;
}

.subheadTitle {
  font-size: clamp(7.5pt, 1.4vw, 35pt);
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;

}

.subheadDate {
  font-size: clamp(10pt, 2vw, 25pt);
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
}

.bodyDescrip {
  font-size: 8pt;  
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: black;
}

.modular-cont {
  border-top: 1px solid black;
}

/* Project Section */

.proj_row {
  /* width: 80vw;  */
  left: 10%;
  position: relative;
  background-color: #BAFF00; 
  border-radius: 30px; 
  border: 3px solid white;
  height: 25vh;
  cursor: pointer;
  z-index: 2;
}

.proj_col {
  position: relative;
}

.proj_header {
  top: 10%;
  text-align: right;
  position: absolute;
  right: 10%;
  line-height: 1;
  font-size: 15pt;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-decoration: none;
}

.proj_mainImage {
  height: 90%; 
  margin-top: 1.7%;
  border-radius: 20px; 
  background-size: cover; 
}

.roj_row_img_anim {
  background-size: cover; 
  height: 100%;
  border-radius: 30px; 
  border: 3px solid white;
}

.proj_row_img {
  width: 40vw; 
  right: 10%;
  position: absolute;
  height: 75vh;
  top: 0;
}

.proj_arrow {
  position: absolute;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
}

.proj_img_thumb {
  height: 6vh;
  width: auto;
  position: absolute;
  bottom: 15%;
  left: 25%;
}

.proj_description {
  padding: 15px;
  font-size: clamp(3pt, 3vw, 8pt);
  line-height: 1.2;
  height: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

.proj_view_text{
  line-height: 0.85;
  font-size: clamp(20pt, 6vw, 40pt);
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 700;

}

/* CV Section */

.cv_title {
  font-size: 8pt;  
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: black;
}

.cv-contact {
  padding-top: 2%;
  font-size: 20pt;  
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.cv-ya {
  padding-top: 2%;
  font-size: 40pt;  
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.work-exp-col {
  width: 33%;
  padding: 10px 10px 10px 0px;
  display: inline-block
}

.work-exp-head {
  padding-top: 3%;
  font-size: 15pt;  
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.work-exp-sub {
  font-size: 12pt;  
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.work-exp-body {
  font-size: 9pt;  
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: black;
}

.dropDownArrow {
  position: fixed;
  cursor: pointer;
	right: 22%;
	/* margin-right: -50%; */
	float: right;
  background-color: black;
}